.ravenous{
    background-color:#378575;
    height:100%;
    margin:0;
    padding-top:10px;
    
  }
  
  
  
  .ravenous h3{
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      font-weight: normal;
      width: 100%;
    text-align: center;
    font-size:2em;
    color: white;
    margin-bottom:0;
  }	
  
  .ravenous header{
    display:flex;
    flex-direction: column;
    text-align: center;
    
  }
  
  .ravenous header a{
    color: white;
    text-decoration: none;
  }


  .ravenous article{
    display:flex;
    justify-content: space-around;
  }

  .ravenous article p{
    min-width:35vw;
    color: white;
  }

  .ravenousImage{
    width:45vw;
  }


  
@media only screen and (max-width:750px){
  .ravenous article{
    display:flex;
    flex-flow: column-reverse;
    align-items:center;
  }


 
}