.kjp{
    background-color:#374785;
    height:100%;
    margin:0;
    padding-top:10px;
    
  }
  
  
  
  .kjp h3{
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      font-weight: normal;
      width: 100%;
    text-align: center;
    font-size:2em;
    color: white;
    margin-bottom:0;
  }	
  
  .kjp header{
    display:flex;
    flex-direction: column;
    text-align: center;
    
  }
  
  .kjp header a{
    color: white;
    text-decoration: none;
  }


  .kjp article{
    display:flex;
    justify-content: space-around;
  }

  .kjp article p{
    min-width:35vw;
  }

  .kjpImage{
    width:45vw;
  }


  
@media only screen and (max-width:750px){
  .kjp article{
    display:flex;
    flex-direction: column;
    align-items:center;
  }


 
}